@import "../../styles/defaultmixin.scss";

.list-container {
    margin: 0 5rem;
    padding-bottom: 3rem;

    table {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
    }

    table,
    thead,
    td {
        border: 1px solid;
    }

    thead {
        background: rgb(61, 18, 18);
        color: white;
        @include fontS18B700;

    }

    td {
        text-align: center;
        padding: 0.6rem;
    }

    .actions-container {
        display: flex;
        // border: none;
        gap: 1rem;
        // border-bottom: 1px solid black;
        margin-top: 3px;

        .btn {
            @include btn-basic;
        }

        .edit {
            @include btn(#ffc107, black);
        }

        .delete {
            @include btn(#dc3545, white);
        }
    }

    .psw-popup-parent {
        @include popup-parent;

        .psw-popup {
            @include popup(35%, 35%);
        }
    }
}