@import "../../styles/defaultmixin.scss";

.pwd-popup-container {
    .h1 {
        @include displayflex;
        @include fontS20B600;
        margin: 2rem 0;
    }

    .pwd-input-container {
        width: 100%;
        margin-top: 1.5rem;
        @include displayflex;

        input {
            width: 60%;
            height: 37px;
            @include inputBasic;
            border-radius: 5px;
            border: 1px solid rgb(209, 208, 208);
            padding: 7px 5px 7px 1rem;
            color: black;
            @include fontS15B500;
        }
    }

    .submit-container {
        margin-top: 1.5rem;
        width: 100%;
        @include displayflex;

        .btn {
            @include btn-basic;
        }

        .submit {
            @include btn(#28a745, white)
        }
    }
    .error{
        @include fontS18B700;
        color: rgb(194, 15, 15);
        text-align: center;
        padding-top: 1.5rem;
    }
}